.button-outline {
    border: 1px solid #634cd2;
    background-color: transparent;
    padding: 10px 15px;
    color: #634cd2;
}

.button-filled {
    border: 1px solid #634cd2;
    background-color: #634cd2;
    padding: 10px 15px;
    color: #fff; 
}

.fontXl {
    font-size: 20px;
}