.orangeRed {
    color: orangered;
}

.orchid {
    color: orchid;
}

.orange {
    color: orange;
}

.font-xs {
    font-size: 1rem;
}

.font-xl {
    font-size: 2rem;
}

.listStyle {
    list-style-type: square;
}