.row {
    display: flex;
    flex-flow: row wrap;
}

.align-center {
    align-items: center;
}

.align-top {
    align-items: top;
}

.align-bottom {
    align-items: bottom;
}

.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.justify-center {
    justify-content: center;
}